
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
<body>

    @await Component.InvokeAsync("_SearchHomeViewComponentPartial")

    @await Component.InvokeAsync("_TopPropertiesViewComponentPartial")

    @await Component.InvokeAsync("_WhoWeAreViewComponentPartial")

    <!-- /bottom-grids-->
    @await Component.InvokeAsync("_BuyAHomeViewComponentPartial")
    <!-- //bottom-grids-->
    @await Component.InvokeAsync("_PopularLocationViewComponentPartial")
    
    @await Component.InvokeAsync("_OurClientsViewComponentPartial")
    <!-- /bottom-grids-->
    @await Component.InvokeAsync("_AllInOnePlaceViewComponentPartial")
    <!-- //bottom-grids-->
    <!--  News section -->
    @await Component.InvokeAsync("_TipsAndAdvicesViewComponentPartial")
    <!--  //News section -->
    @await Component.InvokeAsync("_BrandViewComponentPartial")
</body>

</html>
